.channel {
  display: none;

  &.active {
    display: flex;
  }
}

.channel__scrollback {
  background: #fff;
  overflow: auto;
}

.channel__footer {
  display: flex; // so that children stretch to full width
  padding: 1em;
  background: linear-gradient(#e6e6e6, #cfcfcf);

  input {
    flex: 1 0 auto;
    padding: 0.5em 0.5em 0.4em;
    border-radius: 0.2em;
    border: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 -1px 0 #fff;
    background-color: #fbfbfb;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba(89, 169, 249, 0.7);
      background-color: #fff;
    }
  }
}

.channel__users {
  padding: 0.8em 0;
  background: #f6f6f6;
  border-left: 1px solid #d9d9d9;
  overflow: auto;

  @include no-select();

  ul {
    @include list-unstyled;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  }

  button {
    @include button-unstyled;
    display: block;
    padding: 0.2em 3em 0.2em 1em;

    &:focus {
      background-color: #015cdc;
      color: #fff;
    }

    &.away {
      color: mix(#000, $color-mac-sidebar-background, 50%);

      &:focus {
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}

.channel__message,
.channel__stage-direction,
.channel__server-message {
  margin: 0;
  position: relative;
  padding: $padding-scrollback-item;
  padding-left: $padding-scrollback-item + 5.5; // Space for timestamp

  .timestamp {
    color: #999;
    position: absolute;
    left: $padding-scrollback-item;
  }
}

.channel__stage-direction {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  text-align: center;
  color: #999;

  & + & {
    border-top: none;
  }

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
  }

  .timestamp {
    color: #ccc;
  }
}

.channel__message {
  &.highlighted {
    background-color: #ffc;
  }

  // Collapse padding when two appear
  // immediately after each other
  & + & {
    padding-top: 0;
  }

  // But don't collapse padding on or
  // after highlighted messages
  .highlighted + &,
  & + .highlighted {
    padding-top: $padding-scrollback-item;
  }
}

.channel__server-message {
  pre {
    margin: 0;
    padding: 0.8em 1em;
    font-family: Consolas, Monaco, "Lucida Console", monospace;
    border-radius: 0.2em;
    background: $color-mac-sidebar-background;
    border: 1px solid $color-mac-sidebar-border;
  }
}

hr.bookmark {
  margin: 0;
  border: none;
  border-top: 1px dashed #ccc;

  margin-top: -1px;
  position: relative;
  background: #fff;

  &:last-child {
    padding-bottom: $padding-scrollback-item;
  }
}
