.app-sidebar {
  border-right: 1px solid $color-mac-sidebar-border;
  background-color: $color-mac-sidebar-background;
  color: $color-mac-sidebar-heading;
  overflow: auto;

  @include no-select();
}

.channel-list {
  padding-top: 1em;
  padding-bottom: 1em;

  h1 {
    padding: 0 5em 0 1em;
    position: relative;
    font-size: inherit;
    margin: 1em 0 0.4em 0;
    font-weight: normal;
    margin-bottom: 0.4em;

    &:first-child {
      margin-top: 0;
    }

    &.disconnected {
      color: mix($color-mac-sidebar-heading, $color-mac-sidebar-background, 50%);
    }
  }

  button {
    @include button-unstyled();
    position: relative;
    padding: 0.4em 5em 0.4em 2em;
    color: $color-mac-sidebar-link;

    &.active {
      background-color: $color-mac-sidebar-focussed;
      color: #fff;
    }

    &.unjoined {
      color: mix($color-mac-sidebar-heading, $color-mac-sidebar-background, 50%);

      &:focus {
        background-color: $color-mac-sidebar-selected;
        color: rgba(255,255,255,0.5);
      }
    }

    &.away {
      color: inherit;

      &:focus {
        color: rgba(255,255,255,0.7);
      }
    }
  }

  .loading {
    &:after {
      display: block;
      height: 16px;
      width: 16px;
      content: "";
      background: transparent url(../img/sidebar-spinner.svg) 0 0 no-repeat;
      background-size: 16px 16px;
      position: absolute;
      top: 50%;
      right: 1em;
      margin-top: -9px;
    }

    &.active:after {
      background-image: url(../img/sidebar-spinner-white.svg);
    }
  }
}

.button-badges {
  position: absolute;
  top: 50%;
  right: 1em;
  margin-top: -10px;

  & > * {
    float: left;
    font-size: 0.8em;
    line-height: 1em;
    padding: 0.3em 0.6em;
    background-color: $color-mac-sidebar-selected;
    font-weight: bold;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);

    .active & {
      background-color: #fff;
      color: $color-mac-sidebar-focussed;
    }

    &.important {
      background-color: $color-mac-red;
      color: #fff;
    }
  }

  & > :first-child {
    @include border-left-radius(4em);
    padding-left: 0.7em;
  }

  & > :last-child {
    @include border-right-radius(4em);
    padding-right: 0.7em;
  }
}
