$color-mac-sidebar-background: #f6f6f6;
$color-mac-sidebar-border: #d9d9d9;
$color-mac-sidebar-heading: #9b99a2;
$color-mac-sidebar-link: #333;
$color-mac-sidebar-selected: #dcdcdc;
$color-mac-sidebar-focussed: #015cdc;

$color-mac-red: #f55951; // Used for eye-catching badges etc

$color-mac-banner-background: #f6f6f6;
$color-mac-banner-border: #ccc;
$color-mac-banner-text: #7b7b7b;
$color-mac-warning-background: #FAEDED;
$color-mac-warning-border: #E5D5D5;
$color-mac-warning-text: #BA1616;

$color-bluesteel: #354C5C;

$padding-scrollback-item: 0.9em;

$font-family-default: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-monospace: Consolas, Monaco, 'Lucida Console', monospace;