$color-mac-sidebar-background: #f6f6f6;
$color-mac-sidebar-border: #d9d9d9;
$color-mac-sidebar-heading: #9b99a2;
$color-mac-sidebar-link: #333;
$color-mac-sidebar-selected: #dcdcdc;
$color-mac-sidebar-focussed: #015cdc;
$color-mac-red: #f55951;

$padding-scrollback-item: 0.9em;