@import 'normalize';
@import 'variables';
@import 'mixins';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  line-height: 1.2rem;
  font-family: $font-family-default;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  cursor: default;

  &[href^="http"],
  &[href^="mailto"],
  &[href^="tel"] {
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }
}

body {
  border-top: 1px solid #cfcfcf;
}

@import 'app-layout';
@import 'sidebar';
@import 'channel';

